*{
	margin: 0;
	padding: 0;
}
header{
font-family: 'Exo 2', 'Lato', sans-serif;
font-size: 24px;
}
section{
	width: 100%;
}

/*--------------------- navbar ---------------------*/

.header_container{
}

.logo_container{
  margin: 0 180px;
}

.logo_container img{
  width: 250px;
}

.search_container{
  position: absolute;
  right: 400px;
  top: 10px;
}

#type_text_input{
  border: 2px solid black;
  border-radius: 10px;
  height: 30px;
  width: 180px;
  padding: 0 30px;
}

#search_icon_input {
  height: 18px;
  position: absolute;
  left: 5px;
  top: 8px;
  fill: blue;
}

#search_icon_input:hover{
  color: blue;
}

.book_btn_container{
  position: absolute;
  right: 250px;;
  top: 10px;
}

.book_btn{
  background-color: #0E8CC4;
  border-style: none;
  height: 30px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  width: 120px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.book_btn:hover{
  background-color: white;
  border: 2px solid #0E8CC4;
  color: #0E8CC4
}

/*Navbar*/
.navigation{
  background: #0d8cc4;
}

.nav_container{
  width: 100%;
  padding: 0 1rem;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-right: 1px solid #0b74a3;
  border-left: 1px solid #0fa4e5;
}

.menu li{
  display: inline-block;
  text-align: center;
  flex: 1;
  border-left: 1px solid #0b74a3;
 border-right: 1px solid #0fa4e5;
 cursor: pointer;
 color: white;
 margin-left: auto;
 margin-right: auto;
 white-space: nowrap;
}

.menu a{
  color: white;
 text-decoration: none;
 padding: 1rem 0;
 display: block;
 webkit-transition: background .2s ease-in-out;
 transition: background .2s ease-in-out;
 font-size: .8rem;
 font-size: 16px;
}

/*-------------------- Body -----------------------*/

.picture{
	width: 100%;
	height: 807px;
	margin: 0 auto;
	background-image: url("../img/fitness.jpg");
	background-size: cover;
}





/*------------------- Footer ----------------------*/

footer{
	width: 100%;
	background-color: #0E8CC4;
	padding: 20px 0 280px 0;
}

footer p{
	color: #FFF;
	font-family: 'Lato', sans-serif;
}

#findos{
	text-align: center;
	font-weight: 700;
	font-size: 18px;
}

#facebooklogo{
	position: absolute;
	margin-left: 41%;
	margin-top: 2%;
}

#facebooklogo img{
	width: 90px;
	height: auto;
	
}

#instagramlogo{
	position: absolute;
	margin-left: 53%;
	margin-top: 2%;
}

#instagramlogo img{
	width: 90px;
	height: auto;
}

#kontakt1{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

#kontakt2{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

#kontakt3{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

#kontakt4{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}