*{
	margin: 0;
	padding: 0;
}
header{
font-family: 'Exo 2', 'Lato', sans-serif;
font-size: 24px;
}
section{
	width: 100%;
	height: 3100px;
}

/*--------------------- navbar ---------------------*/

.header_container{
}

.logo_container{
  margin: 0 180px;
}

.logo_container img{
  width: 250px;
}

.search_container{
  position: absolute;
  right: 400px;
  top: 10px;
}

#type_text_input{
  border: 2px solid black;
  border-radius: 10px;
  height: 30px;
  width: 180px;
  padding: 0 30px;
}

#search_icon_input {
  height: 18px;
  position: absolute;
  left: 5px;
  top: 8px;
  fill: blue;
}

#search_icon_input:hover{
  color: blue;
}

.book_btn_container{
  position: absolute;
  right: 250px;;
  top: 10px;
}

.book_btn{
  background-color: #0E8CC4;
  border-style: none;
  height: 30px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  width: 120px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.book_btn:hover{
  background-color: white;
  border: 2px solid #0E8CC4;
  color: #0E8CC4
}

/*Navbar*/
.navigation{
  background: #0d8cc4;
}

.nav_container{
  width: 100%;
  padding: 0 1rem;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-right: 1px solid #0b74a3;
  border-left: 1px solid #0fa4e5;
}

.menu li{
  display: inline-block;
  text-align: center;
  flex: 1;
  border-left: 1px solid #0b74a3;
 border-right: 1px solid #0fa4e5;
 cursor: pointer;
 color: white;
 margin-left: auto;
 margin-right: auto;
 white-space: nowrap;
}

.menu a{
  color: white;
 text-decoration: none;
 padding: 1rem 0;
 display: block;
 webkit-transition: background .2s ease-in-out;
 transition: background .2s ease-in-out;
 font-size: .8rem;
 font-size: 16px;
 font-family: 'Lato', sans-serif;
}

/*-------------------- Body -----------------------*/

.backgroundvideo{
	width: auto;
	height: auto;
}

#videooverlaycolor{
	width: 100%;
	height: 88.4%;
	background-color: #8EC9E2;
	opacity: 0.7;
	position: absolute;
	margin-top: -42.3%;
}

#videooverlay{
	position: absolute;
	width: 100%;
	margin-top: -450px;
	align-items: center;
}

#videooverlay img{
	width: 50%;
	height: auto;
	align-items: center
}

h6{
	text-align: center;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	margin-top: 30px;
}

#lejrbox{
	background-color: #0E8CC4;
	width: 20%;
	height: 3.6%;
	margin-top: 70px;
	border-radius: 15px;
	float: left;
	margin: 70px 6.5% 0 6.5%;
	box-shadow: 2px 2px 5px 0 #909090;
}

#lejrbox h5{
	font-family: 'Lato', sans-serif;
	color: #FFF;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 0;
}

#lejrbox img{
	width: 100%;
	margin-top: 25px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top: solid #8EC9E2;
}

#feriebox{
	background-color: #0E8CC4;
	width: 20%;
	height: 3.6%;
	margin-top: 70px;
	border-radius: 15px;
	float: left;
	margin: 70px 6.5% 0 6.5%;
	box-shadow: 2px 2px 5px 0 #909090;
}

#feriebox h5{
	font-family: 'Lato', sans-serif;
	color: #FFF;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 0;
}

#feriebox img{
	width: 100%;
	margin-top: 25px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top: solid #8EC9E2;
}

#aktiviteterbox{
	background-color: #0E8CC4;
	width: 20%;
	height: 3.6%;
	margin-top: 70px;
	border-radius: 15px;
	float: left;
	margin: 70px 6.5% 0 6.5%;
	box-shadow: 2px 2px 5px 0 #909090;
}

#aktiviteterbox h5{
	font-family: 'Lato', sans-serif;
	color: #FFF;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 0;
}

#aktiviteterbox img{
	width: 100%;
	margin-top: 25px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top: solid #8EC9E2;
}

#quote1{
	width: 20%;
	margin: 20% 0 0 20%;
	float: left;
}

#quote1 h8{
	color: #0E8CC4;
	font-size: 7em;
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	text-align: center;
	margin-left: 40%;
}

#quote1 p{
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	text-align: center;
	font-weight: lighter;
	margin-top: -40px;
}

#quote1 img{
	width: 70px;
	border-radius: 50px;
	margin: 30px 0 0 38%;
}

#quote1 h9{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1em;
	margin-left: 30%;
}

#quote2{
	width: 20%;
	margin: 15% 0 0 0;
	float: left;
}

#quote2 h8{
	color: #0E8CC4;
	font-size: 7em;
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	text-align: center;
	margin-left: 40%;
}

#quote2 p{
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	text-align: center;
	font-weight: lighter;
	margin-top: -40px;
}

#quote2 img{
	width: 70px;
	height: 70px;
	border-radius: 50px;
	margin: 30px 0 0 38%;
}

#quote2 h9{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1em;
	margin-left: 32%;
}

#quote3{
	width: 20%;
	margin: 20% 0 0 0;
	float: left;
}

#quote3 h8{
	color: #0E8CC4;
	font-size: 7em;
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	text-align: center;
	margin-left: 40%;
}

#quote3 p{
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	text-align: center;
	font-weight: lighter;
	margin-top: -40px;
}

#quote3 img{
	width: 70px;
	height: 70px;
	border-radius: 50px;
	margin: 30px 0 0 38%;
}

#quote3 h9{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1em;
	margin-left: 34.5%;
}

#backgroundbox1{
	width: 48%;
	height: 150px;
	background-color: #0E8CC4;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	margin: 960px 0 0 0;
}

#backgroundbox2{
	width: 20%;
	height: 110px;
	background-color: #0E8CC4;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	margin: 535px 0 0 80%;
}

#nyhederoverskrift{
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	font-size: 4em;
	margin: -45px 0 0 27%;
}

#nyestebox{
	width: 250px;
	height: 50px;
	float: left;
	background-color: #FFF;
	border: solid 2px #707070;
	border-radius: 4px;
	margin: 50px 0 0 16%;
	box-shadow: 3px 3px 5px 0 #909090;
}

#nyestebox p{
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
	margin-top: 9px;
}

#nyhed1{
	width: 55%;
	height: 200px;
	border-radius: 10px;
	float: left;
	margin: 3% 0 0 4%;
}

.nyhed1img{
	background-image: url("../img/forår.jpg");
	border-radius: 10px;
	background-size: 150%;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 5px 0 #909090;
	width: 200px;
	height: 200px;
	float: left;
	background-position: center;
}

#nyhed1 h4{
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 0 0 32%;
	text-align: left;
}

#nyhed1 h5{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin: 0 0 0 32%;
	color: #0E8CC4;
	font-size: 2em;
}

#nyhed1 p{
	margin: 0 0 0 32%;
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
}

#nyhed2{
	width: 55%;
	height: 200px;
	border-radius: 10px;
	float: left;
	margin: 6% 0 0 36.7%;
}

.nyhed2img{
	background-image: url("../img/pokal.jpg");
	border-radius: 10px;
	background-size: 150%;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 5px 0 #909090;
	width: 200px;
	height: 200px;
	float: left;
	background-position: center;
}

#nyhed2 h4{
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 0 0 32%;
	text-align: left;
}

#nyhed2 h5{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin: 0 0 0 32%;
	color: #0E8CC4;
	font-size: 2em;
}

#nyhed2 p{
	margin: 0 0 0 32%;
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
}

#nyhed3{
	width: 55%;
	height: 200px;
	border-radius: 10px;
	float: left;
	margin: 6% 0 0 36.7%;
}

.nyhed3img{
	background-image: url("../img/lob.jpg");
	border-radius: 10px;
	background-size: 150%;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 5px 0 #909090;
	width: 200px;
	height: 200px;
	float: left;
	background-position: center;
}

#nyhed3 h4{
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 0 0 32%;
	text-align: left;
}

#nyhed3 h5{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin: 0 0 0 32%;
	color: #0E8CC4;
	font-size: 2em;
}

#nyhed3 p{
	margin: 0 0 0 32%;
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
}

#viinaturen{
	width: 36%;
	height: auto;
	float: left;
	margin: 0 5% 0 9%;
}

#viinaturen img{
	width: 100%;
	margin-top: 100px;
}

#naturparkvesterhavet{
	width: 36%;
	height: auto;
	float: left;
	margin: 0 9% 0 5%;
}

#naturparkvesterhavet img{
	width: 100%;
	margin-top: 75px;
}


/*------------------- Footer ----------------------*/

footer{
	width: 100%;
	background-color: #0E8CC4;
	padding: 20px 0 280px 0;
}

footer p{
	color: #FFF;
	font-family: 'Lato', sans-serif;
}

#findos{
	text-align: center;
	font-weight: 700;
	font-size: 18px;
}

#facebooklogo{
	position: absolute;
	margin-left: 41%;
	margin-top: 2%;
}

#facebooklogo img{
	width: 90px;
	height: auto;
	
}

#instagramlogo{
	position: absolute;
	margin-left: 53%;
	margin-top: 2%;
}

#instagramlogo img{
	width: 90px;
	height: auto;
}

#kontakt1{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

#kontakt2{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

#kontakt3{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

#kontakt4{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}