*{
	margin: 0;
	padding: 0;
}

section{
	width: 100%;
}

/*--------------------- navbar ---------------------*/

.navigation{
  background: #0d8cc4;
}

.nav_container{
  width: 100%;
  padding: 0 1rem;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-right: 1px solid #0b74a3;
  border-left: 1px solid #0fa4e5;
}

.menu li{
  display: inline-block;
  text-align: center;
  flex: 1;
  border-left: 1px solid #0b74a3;
 border-right: 1px solid #0fa4e5;
 cursor: pointer;
 color: white;
 margin-left: auto;
 margin-right: auto;
 white-space: nowrap;;
}

.menu a{
  color: white;
text-decoration: none;
padding: 1rem 0;
display: block;
-webkit-transition: background .2s ease-in-out;
transition: background .2s ease-in-out;
font-size: .8rem;
font-size: 16px;
font-family: 'Lato', sans-serif;
}

/*-------------------- Body -----------------------*/

#picture{
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background-image: url("../img/fitness.jpg");
	background-size: auto;
}





/*------------------- Footer ----------------------*/

footer{
	width: 100%;
	background-color: #0E8CC4;
	padding: 20px 0 280px 0;
}

footer p{
	color: #FFF;
	font-family: 'Lato', sans-serif;
}

#findos{
	text-align: center;
	font-weight: 700;
	font-size: 18px;
}

#facebooklogo{
	position: absolute;
	margin-left: 41%;
	margin-top: 2%;
}

#facebooklogo img{
	width: 90px;
	height: auto;
	
}

#instagramlogo{
	position: absolute;
	margin-left: 53%;
	margin-top: 2%;
}

#instagramlogo img{
	width: 90px;
	height: auto;
}

#kontakt1{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

#kontakt2{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

#kontakt3{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

#kontakt4{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}