*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
     padding: 0;
    margin: 0;
}

/*Navbar*/
.header_container{
}

.logo_container{
  margin: 0 180px;
}

.logo_container img{
  width: 250px;
}

.search_container{
  position: absolute;
  right: 400px;
  top: 10px;
}

#type_text_input{
  border: 2px solid black;
  border-radius: 10px;
  height: 30px;
  width: 180px;
  padding: 0 30px;
}

#search_icon_input {
  height: 18px;
  position: absolute;
  left: 5px;
  top: 8px;
  fill: blue;
}

#search_icon_input:hover{
  color: blue;
}

.book_btn_container{
  position: absolute;
  right: 250px;;
  top: 10px;
}

.book_btn{
  background-color: #0E8CC4;
  border-style: none;
  height: 30px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  width: 120px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.book_btn:hover{
  background-color: white;
  border: 2px solid #0E8CC4;
  color: #0E8CC4
}

/*Navbar*/
.navigation{
  background: #0d8cc4;
}

.nav_container{
  width: 100%;
  padding: 0 1rem;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-right: 1px solid #0b74a3;
  border-left: 1px solid #0fa4e5;
}

.menu li{
  display: inline-block;
  text-align: center;
  flex: 1;
  border-left: 1px solid #0b74a3;
 border-right: 1px solid #0fa4e5;
 cursor: pointer;
 color: white;
 margin-left: auto;
 margin-right: auto;
 white-space: nowrap;
}

.menu a{
  color: white;
 text-decoration: none;
 padding: 1rem 0;
 display: block;
 webkit-transition: background .2s ease-in-out;
 transition: background .2s ease-in-out;
 font-size: .8rem;
 font-size: 16px;
}


/*Side 3*/

.infoboks{
    border: #0d8cc4 solid;
    width: 24%;
    display: inline-block;
    margin-left: 7%;
    margin-top: 4%;
    padding: 1%;
    border-radius: 13px
}


.inf{
    text-align: center;
    font-size: 18px;
}





.bestil {
   width: 63%;
    float: left;
    margin-top: 1%;
    margin-left: 7%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
}
  


.gallery {
    padding: 0px;
    display: block;
    margin: 3% auto 3% 6%;
    border: 2px solid #d6d6d6;
    float: left;
    width: 10em;
    border-radius: 15px;
    height: 180px;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
    background-color: #fff;
}


.gallery_2 {
    padding: 0px;
    margin: 15px;
    border: 2px solid #d6d6d6;
    float: left;
    width: 19%;
    border-radius: 15px;
    height: 185px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
    background-color: #fff;
    
}

.gallery:hover {
  cursor: pointer;
    border: 2px solid #606060;
}

.gallery_2:hover {
  cursor: pointer;
    border: 2px solid #606060;
}

.gallery img {
  width: 100%;
  height: auto;
   border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    margin-bottom: 1px;
}


.gallery_2:hover {
  cursor: pointer;
    border: 2px solid #606060;
}

.mere{
    background-image: url(../icon/info.svg);
    width: 1.5em;
    height: 1.5em;
    background-size: cover;
    display: block;
    margin: auto;
}


.badelandimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/badeland2.jpg);
    background-size: cover;
     border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    
}
.fodboldimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/fodbold.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;


}
.golfimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/golf.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;'
    
}
.tennisimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/tennis.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    
}

.springimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/springcenterdreng.jpeg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
   
}
.gamingimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/gaming.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.halimg{
   width: 100%;
    height: 100px;
    background-image:url(../img/hal.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.havetimg{
   width: 100%;
    height: 100px;
    background-image:url(../img/havet.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.beskrivelse {
  padding: 15px;
  text-align: center;
}

.button {
    color: white;
    font-size: 1em;
    background-color: #0E8CC4;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border-radius: 15px;
    width: 10%;
    height: 3em;
    margin-left: 48.5%;
    margin-bottom: 3%;
    border: 3px solid #606060;
    transition: ease-in-out 0.2s;
}

.button:hover{
  cursor: pointer;
    border: 3px solid #0E8CC4;
    background-color: #fff;
    font-size: 1em;
    color: #0E8CC4;
    
}

.linje{
    background-color: #0E8CC4;
    width: 3px;
    float: right;
    height: 114vh;
    margin-top: -12.2%;
   
}

.drop_zone{
    float: right;
    background-color: #EBF2F5;
    opacity: 1;
    border: #6d6d6d 1px solid;
    width: 210px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
    padding: 8px;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    height: 100vh;
}







