body, html{
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', 'Lato', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*header*/

.logo_container{
  margin: 10px 180px;
}

.logo_container img{
  width: 250px;
}

.search_container{
  position: absolute;
  right: 400px;
  top: 10px;
}

#type_text_input{
  border: 2px solid black;
  border-radius: 10px;
  height: 30px;
  width: 180px;
  padding: 0 30px;
  font-family: 'Lato', sans-serif;
}

#search_icon_input {
  height: 18px;
  position: absolute;
  left: 5px;
  top: 8px;
  fill: blue;
}

#search_icon_input:hover{
  color: blue;
}

.book_btn_container_header{
  position: absolute;
  right: 250px;
  top: 10px;
}

.book_btn{
  background-color: #0E8CC4;
  border-style: none;
  height: 30px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  width: 120px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
}

.book_btn:hover{
  background-color: white;
  border: 2px solid #0E8CC4;
  color: #0E8CC4
}

/*Navbar*/
.navigation{
  background: #0d8cc4;
}

.nav_container{
  width: 100%;
  padding: 0 1rem;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border-right: 1px solid #0b74a3;
  border-left: 1px solid #0fa4e5;
}

.menu li{
 display: inline-block;
 text-align: center;
 flex: 1;
 border-left: 1px solid #0b74a3;
 border-right: 1px solid #0fa4e5;
 cursor: pointer;
 color: white;
 margin-left: auto;
 margin-right: auto;
 white-space: nowrap;
 background: #0d8cc4;
 transition: 0.2s;
}

.menu li:hover{
  background: #0c78a7;
}

.menu a{
  color: white;
 text-decoration: none;
 padding: 1rem 0;
 display: block;
 font-size: .8rem;
 font-size: 16px;
}


/*Side 4*/



.infoboks{
    border: #0d8cc4 solid;
    width: 24%;
    display: inline-block;
    margin-left: 7%;
    margin-top: 4%;
    padding: 1%;
    border-radius: 13px;
    font-family: 'Lato', sans-serif;
}


.inf{
    text-align: center;
    font-size: 18px;
}


.overlayen{
    display: none;
    position: absolute;
    padding: 0px;

    float: left;
    width: 10em;
    width: 63%;
    height: 50%;
    text-align: center;
    color: #fff;
}
.iibadeland{
    background-color: #0e8cc4;
    opacity: 0.95;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
     border: 2px solid #d6d6d6;
}
.infotekst{
    width: 90%;
    display: block;
    margin: auto;
}
.infogallery{
    width: 25%;
    height: 20%;
    border-radius: 15px;
    margin: 3%;
    opacity: 0;
    box-shadow: 2px 2px 2px 2px #d6d6d6
}


.ibadeland{
    padding-top: 7%;
}



.luk{
    float: left;
    width: 2em;
    height: 2em;
    padding-top: 1em;
    padding-left: 1em;
    margin: auto;

}

.badeland{
    display: block;
    animation: infoverlay 0.5s ease-in-out forwards;
}
@keyframes infoverlay{
    from{
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
#infogallery{
    animation: infogallery 2s forwards ease-in;
}
@keyframes infogallery{
    from{
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.bestil {
   width: 63%;
    float: left;
    margin-top: 1%;
    margin-left: 7%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
}



.gallery {
    padding: 0px;
    display: block;
    margin: 3% auto 3% 6%;
    border: 2px solid #d6d6d6;
    float: left;
    width: 10em;
    border-radius: 15px;
    height: 203px;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
    background-color: #fff;
}


.gallery_2 {
    padding: 0px;
    margin: 15px;
    border: 2px solid #d6d6d6;
    float: left;
    width: 19%;
    border-radius: 15px;
    height: 203px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
    background-color: #fff;

}

.gallery:hover {
  cursor: pointer;
    border: 2px solid #606060;
}

.gallery_2:hover {
  cursor: pointer;
    border: 2px solid #606060;
}

.gallery img {
  width: 100%;
  height: auto;
   border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    margin-bottom: 1px;
}


.gallery_2:hover {
  cursor: pointer;
    border: 2px solid #606060;
}

.mere{
    background-image: url(../icon/info.svg);
    width: 1.5em;
    height: 1.5em;
    background-size: cover;
    display: block;
    margin: auto;

}


.badelandimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/badeland2.jpg);
    background-size: cover;
     border-top-left-radius: 13px;
    border-top-right-radius: 13px;

}
.fodboldimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/fodbold.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;


}
.golfimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/golf.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

}
.tennisimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/tennis.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

}

.springimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/springcenterdreng.jpeg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

}
.gamingimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/gaming.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.halimg{
   width: 100%;
    height: 100px;
    background-image:url(../img/hal.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.havetimg{
   width: 100%;
    height: 100px;
    background-image:url(../img/havet.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.tirimg{
   width: 100%;
    height: 100px;
    background-image:url(../img/tirpitz.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}




.prisnul{
    text-align: center;
    font-size: 0.8em;
    margin: 0;
    padding: 8px;
    color: green;
}

.prism{
    text-align: center;
    font-size: 0.8em;
    margin: 0;
    padding: 8px;
    color: green;
}


.beskrivelse {
  padding-top: 15px;
  text-align: center;
}

.btn {
    color: white;
    font-size: 1em;
    background-color: #0E8CC4;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border-radius: 15px;
    width: 10%;
    height: 3em;
    margin-left: 48.5%;
    margin-bottom: 3%;
    border: 3px solid #606060;
    transition: ease-in-out 0.2s;
}

.btn:hover{
  cursor: pointer;
    border: 3px solid #0E8CC4;
    background-color: #fff;
    font-size: 1em;
    color: #0E8CC4;

}

.linje{
    background-color: #0E8CC4;
    width: 3px;
    float: right;
    height: 134vh;
    margin-top: -13.7%;

}

.drop_zone{
    float: right;
    background-color: #EBF2F5;
    opacity: 1;
    border: #6d6d6d 1px solid;
    width: 210px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
    padding: 8px;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    height: 91vh;
}

/* css til page2 og page3  */

#lejrskole_video_containter{
  overflow: hidden;
  width: 100%;
  background-image: url('../icon/gradiean.png');
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

#lejrskole_video_containter img{
  float: left;
  width: 30%;
  margin-left: 5%;
}

#lejrskole_tekst_container{
  float: left;
  color: white;
  width: 40%;
  margin-left: 5%;
}

#lejrskole_tekst_container p{
    font-family: 'Lato', sans-serif;
}

#gallery_btn{
  background-color: #0E8CC4;
  border-style: none;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 240px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  margin: 60px auto 0 auto;
  cursor: pointer;
  font: 2em 'Lato', sans-serif;
}
/*Popupgalleri. Lader det være en kommentar, så det stadig kan bruges, hvis vi vil bruge det senere. Men ligenu er det ikke færdigt og derfor skal det ikke være synligt på siden ligenu.
#gallery_popup{
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  bottom: -140px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  transform: translateX(-50%) scale(0.1);
  margin: 0 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 12px;
  flex-wrap: wrap;
  width: 0%;
  justify-content: center;
}

#gallery_popup img{
  height: auto;
  width: 50%;
}
*/
.blue_square_right{
  width: 40%;
  margin-top: 100px;
  height: 120px;
  background-color: #0E8CC4;
  position: absolute;
  right: 0;
  z-index: 0;
  opacity: 1;
}

#lejrskole_tilbud_container{
  overflow: hidden;

}

#lejrskole_tilbud_headline{
  position: absolute;
  z-index: 1;
  font-size: 5.5em;
  right: 10%;
  margin-top: 125px;
}

.book_container{
  height: 600px;
  width: 430px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 300px;
  border: solid 2px black;
  border-radius: 20px;
  padding: 0 6px;
  transition: 0.5s;
}
.book_text{
    width: 100%;
    margin: auto;
}
.bookpris{
    text-align: center;
    color: green;
    font-size: 1.1em;
    width: 100%;
}

.book_container:hover{
  transform: scale(1.08);
  transform-origin: bottom;
}


.book_text h3{
  color: #0E8CC4;
  text-align: center;
}

.book_text {
  width: 330px;
  height: auto;
  font-family: 'Lato', sans-serif;
}

.book_img_badeland{
  background-image: url("../img/badeland2.jpg");
  background-size: cover;
  height: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: -6px;
  margin-right: -6px;
  transition: 0.5s;
}

.book_img_gaming{
  background-image: url("../img/gaming.jpg");
  background-size: cover;
  height: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: -6px;
  margin-right: -6px;
  transition: 0.5s;
}

.book_img_spring{
  background-image: url("../img/springcenterdreng.jpeg");
  background-size: cover;
  height: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: -6px;
  margin-right: -6px;
  transition: 0.5s;
}

.book_tilbud_container{
  margin: 0 auto;
  width: 80%;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 80px;
}

.tilbud_btn_container{
display: flex;
justify-content: center;
}

.book_tilbud_container .book_btn{
  position: absolute;
  display: block;
  bottom: 0;
  margin: 0 auto;
  height: 50px;
  width: 150px;
  transform: translateY(20px);
  font: 1em 'lato', sans-serif;
  align-items: center;
  display: flex;
}

#book_her_headline{
  position: absolute;
  z-index: 1;
  font-size: 5.5em;
  left: 20%;
  margin-top: 25px;
}

.blue_square_left{
  width: 40%;
  height: 120px;
  background-color: #0E8CC4;
  z-index: 0;
  opacity: 1;
  transform: translateX(0);
}

.booking_form{
  margin-top: 50px;
}

.booking_form input, textarea, select{
  display: block;
  width: 70%;
  padding: 15px 0;
  margin: 20px auto;
  font-family: 'Lato', sans-serif;
  border: solid 2px rgba(14, 140, 196, 0.6);
  border-radius: 12px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
  box-sizing: border-box;
}

.booking_form textarea{
  margin-bottom: 10px;
  max-width: 70%;
  min-width: 70%;
  min-height: 60px;
  max-height: 1000px;
}

.form_book_btn{
  background-color: #0E8CC4;
  border-style: none;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 150px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  float: right;
  margin-right: 15%;
  font: 1em 'Lato', sans-serif;
}

.form_book_btn:hover{
  background-color: white;
  border: 2px solid #0E8CC4;
  color: #0E8CC4
}

#yderligere_info_headline{
  position: absolute;
  z-index: 1;
  font-size: 5.5em;
  right: 10%;
  margin-top: 125px;
}

.yderligere_info_text{
  text-align: center;
  width: 90%;
  margin: 300px auto 100px auto;
  font: 1em 'Lato', sans-serif;
}

.yderligere_info_text span{
  color: #0E8CC4;
}

.tre_dages_ophold_container{
  margin-top: 50px;
}

/*------------------- Footer ----------------------*/

footer{
	width: 100%;
	background-color: #0E8CC4;
	padding: 20px 0 280px 0;
}

footer p{
	color: #FFF;
	font-family: 'Lato', sans-serif;
}

.findos{
	text-align: center;
	font-weight: 700;
	font-size: 18px;
}

.facebooklogo{
	position: absolute;
	margin-left: 41%;
	margin-top: 2%;
}

.facebooklogo img{
	width: 90px;
	height: auto;
}

.instagramlogo{
	position: absolute;
	margin-left: 53%;
	margin-top: 2%;
}

.instagramlogo img{
	width: 90px;
	height: auto;
}

.kontakt1{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

.kontakt2{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

.kontakt3{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;
}

.kontakt4{
	margin-top: 170px;
	float: left;
	width: 25%;
	text-align: center;


/* Styleguide CSS */

.headline_styleguide_middle{
  position: relative;
  z-index: 1;
  font-size: 3em;
  margin-left: 40px;
  margin-top: 40px;
}

.headline_styleguide_small{
  position: relative;
  z-index: 1;
  font-size: 2em;
  margin-left: 40px;
  margin-top: 40px;
}

.farver_container{
  padding: 20px 0;
  border: solid 2px black;
  border-radius: 12px;
  margin: 0 20px;
}

.farver_button_container{
  display: flex;
}

.farve_btn{
  border-style: none;
  padding-bottom: 45px;
  padding-top: 45px;
  width: 260px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
  display: flex;
  cursor: pointer;
  font: 1em 'Lato', sans-serif;
  justify-content: center;
  margin: 0 auto;
}

#btn_blue{
background-color: #0d8cc4;
}

#btn_white{
  color: black;
  background-color: #ffffff;
  border: 2px solid black;
}

#btn_black{
  background-color: #000000;
}

#btn_lightblue{
  background-color: #86bdd5;
}

.headline_core{
  position: absolute;
  z-index: 1;
  font-size: 5.5em;
  left: 10%;
  margin-top: 0;
}

.headline_core_container{
  margin-bottom: 125px;
}

.p_core{
  font-family: 'Lato', sans-serif;
}

.p_core_container{
  margin-left: 40px;
}

.start_btn{
  display: block;
  bottom: 0;
  margin: 0 auto;
  height: 50px;
  width: 150px;
  transform: translateY(20px);
  font: 1em 'lato', sans-serif;
  align-items: center;
  display: flex;
}
