*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
    
}

/*Navbar*/
.navigation{
  background: #0d8cc4;
}
.nav_container{
  width: 100%;
  padding: 0 1rem;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-right: 1px solid #0b74a3;
  border-left: 1px solid #0fa4e5;
}

.menu li{
  display: inline-block;
  text-align: center;
  flex: 1;
  border-left: 1px solid #0b74a3;
 border-right: 1px solid #0fa4e5;
 cursor: pointer;
 color: white;
 margin-left: auto;
 margin-right: auto;
 white-space: nowrap;;
}

.menu a{
  color: white;
text-decoration: none;
padding: 1rem 0;
display: block;
-webkit-transition: background .2s ease-in-out;
transition: background .2s ease-in-out;
font-size: .8rem;
font-size: 16px;
}






/*Side 3*/
.bestil {
    
    width: 63%;
    float: left;  
    margin-top: 100px;
    margin-left: 100px;
    
}

.bestil_2 {
   width: 90%;
    float: left; 
    margin-top: 100px;
    
}

.gallery {
    padding: 0px;
    margin: 15px;
    border: 2px solid #606060;
    border: 1px solid #777;
    float: left;
    width: 180px;
    border-radius: 15px;
    height: 165px;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
}


.gallery_2 {
    padding: 0px;
    margin: 15px;
    border: 2px solid #606060;
    border: 1px solid #777;
    float: left;
    width: 180px;
    border-radius: 15px;
    height: 165px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
}

.gallery:hover {
  cursor: pointer;
    border: 2px solid #606060;
}

.gallery_2:hover {
  cursor: pointer;
    border: 2px solid #606060;
}

.gallery img {
  width: 100%;
  height: auto;
   border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    margin-bottom: 1px;
}


.gallery_2:hover {
  cursor: pointer;
    border: 2px solid #606060;
}

.badelandimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/badeland2.jpg);
    background-size: cover;
     border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.fodboldimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/fodbold.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.golfimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/golf.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.tennisimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/tennis.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.springimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/springcenterdreng.jpeg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.gamingimg{
    width: 100%;
    height: 100px;
    background-image:url(../img/gaming.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.halimg{
   width: 100%;
    height: 100px;
    background-image:url(../img/hal.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.havetimg{
   width: 100%;
    height: 100px;
    background-image:url(../img/havet.jpg);
    background-size: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.beskrivelse {
  padding: 15px;
  text-align: center;
}

.button {
    color: white;
    background-color: #0E8CC4;
    text-align: center;
    display: block;
    margin: auto;
    font-family: 'Lato', sans-serif;
    border-radius: 15px;
    width: 85px;
    height: 30px;
    margin-bottom: -16px;
    border: 1px solid #606060;
}

.button:hover {
  cursor: pointer;
    border: 2px solid #606060;
}

.linje {
  background-color: #0E8CC4;
    width: 3px;
    float: right;
    height: 93vh;
    margin-right: 27%;
    
    
    
}
#drop_zone {
    background-color: #EEE; 
    border: #999 1px solid;
    width: 280px; 
    height: 200px;
    padding: 8px;
    font-size: 18px;
}







